In [38]:
import pandas as pd
import json
import yahoo_fin.stock_info as si
import datetime

In [39]:
price_data = pd.read_csv("../relevant_price_data_from_2016.csv", index_col = 0)

In [41]:


# get the latest date + 1
latest_date = price_data.date.max()
latest_date = datetime.datetime.strptime(latest_date, '%Y-%m-%d')
latest_date += datetime.timedelta(days=1)
latest_date = latest_date.strftime("%Y-%m-%d")

# date today
today = datetime.datetime.today().strftime("%Y-%m-%d")

# all the tickers
tickers = price_data.ticker.unique()

price_data_list = []
count = 0

for ticker in tickers:
    try:
        ticker_data = si.get_data(ticker, start_date=latest_date, end_date=today)
        ticker_data["ticker"] = ticker
        price_data_list.append(ticker_data)
        count += 1
        if count % 200 == 0:
            print(count)
    except:
        print("could not find price_data for " + ticker)
        count += 1
        if count % 200 == 0:
            print(count)

# concat the data
new_data = pd.concat(price_data_list)
# get relevant columns
tickers_data = new_data[["ticker", "adjclose"]]

# correct the names
tickers_data.insert(0, "date", new_data.index)
tickers_data.columns = price_data.columns

# add the data together
current_price_data = price_data.append(tickers_data)

# save df 
#current_price_data.to_csv("../relevant_price_data_from_2016.csv")

In [42]:
tickers_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1386 entries, 2021-01-26 to 2021-02-12
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       1386 non-null   datetime64[ns]
 1   ticker     1386 non-null   object
 2   adj_close  1378 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 43.3+ KB

C:\Users\Leonhard\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [47]:
tickers_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1386 entries, 2021-01-26 to 2021-02-12
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       1386 non-null   object
 1   ticker     1386 non-null   object
 2   adj_close  1378 non-null   float64
dtypes: float64(1), object(2)
memory usage: 43.3+ KB

In [29]:
tickers_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 140 entries, 2021-01-26 to 2021-02-12
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       140 non-null    datetime64[ns]
 1   ticker     140 non-null    object
 2   adj_close  140 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 4.4+ KB

In [34]:
tickers_data.date = pd.to_numeric(tickers_data.loc[:, "date"])

In [35]:
tickers_data

                           date ticker  adj_close
2021-01-26  1611619200000000000    DDD  37.189999
2021-01-27  1611705600000000000    DDD  42.230000
2021-01-28  1611792000000000000    DDD  37.990002
2021-01-29  1611878400000000000    DDD  35.540001
2021-02-01  1612137600000000000    DDD  38.910000
...                         ...    ...        ...
2021-02-08  1612742400000000000    ABB  29.080000
2021-02-09  1612828800000000000    ABB  29.340000
2021-02-10  1612915200000000000    ABB  29.180000
2021-02-11  1613001600000000000    ABB  29.260000
2021-02-12  1613088000000000000    ABB  29.520000

[140 rows x 3 columns]

In [48]:
data = pd.read_csv("../relevant_price_data_from_2016.csv")
data.date.max()

'2021-02-12'